{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="ticket_button" name="signup_button"><a href="{% url 'create_ticket' %}">Demander un ticket</a></button>
                <button type="button" class="critique_button" name="signup_button"><a href="{% url 'create_ticket_and_critique' %}">Créer une critique</a></button>
                <h1>Flux :</h1>
                {% for t in tickets %}
                    <p>{{ t.title }}</p>
                    <img src="{{ t.image.url }}">
                    <p>{{ t.description }}</p>
                    <p>{{ t.user }}</p>
                    <p><a href="{% url 'edit_ticket' t.id %}">Modifier le billet</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}